.answers-container {
  display: flex;
  flex-direction: column;
  margin: 12px 0 12px 0;
}

.answer-option {
  margin: 6px 0;
  cursor: pointer;
  width: 100%;
}

.answer-option input[type="radio"] {
  margin-right: 6px;
}
